.fullApp{
    width: 960px;
    background-color: #FFFFFF;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:960px){
    .fullApp{
        width: 100%;
    }
}