.container{
    width: 100%;
    text-align: center;
}
.container h1{
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Mulish', sans-serif;
    font-weight: 400 !important;
    color: #404040;
}