.container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}
.contentForm{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form input,.form select{
    border: none;
    border-bottom: 1px solid gray;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    outline: none;
    margin: 0.7em;
}
.form input::placeholder{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
.form input:focus{
    border-bottom: 1.5px solid rgb(7, 7, 161);
}
.error{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #FF0000;
}
.button{
    width: 110px;
    padding: 6px 12px;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 400 !important;
    color: #FFFFFF;
    border: none;
    align-self: center;
    outline: none;
    background-color: #52C0F7;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}